<nav>
<p>Wikinimous</p>
<p>➕ <%= link_to'New Article', new_article_path %></p>
</nav>

<ul>
  <% @articles.each do |article| %>
    <li>
    <%= link_to article.title, article_path(article) %>
    <%= article.content %>
    </li>
  <% end %>
</ul>

